@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
/* Colors */
:root {
    --light-red: hsla(0, 100%, 67%);
    --orangey-yellow: hsla(39, 100%, 56%);
    --green-teal: hsla(166, 100%, 37%);
    --cobalt-blue: hsla(234, 85%, 45%);

    --light-red-t: hsla(0, 100%, 67%, 5%);
    --orangey-yellow-t: hsla(39, 100%, 56%, 5%);
    --green-teal-t: hsla(166, 100%, 37%, 5%);
    --cobalt-blue-t: hsla(234, 85%, 45%, 5%);

    --white: hsl(0, 0%, 100%);
    --pale-blue: hsla(221, 100%, 96%, 75%);
    --light-lavender: hsla(241, 100%, 89%, 50%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}

/* colors */
.light-lavender {
    color: var(--light-lavender);
}
.pale-blue {
    color: var(--pale-blue);
}


/* ALL */
* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    /* font */
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 18px;
    /* stretch onto whole site */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main {
    /* stretch on whole page */
    flex-grow: 1;
    /* center card */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding between screen border and card */
    padding: 5%;
}

.card {
    /* all items in one row */
    display: flex;
    /* card style */
    box-shadow: 20px 20px 50px hsla(234, 85%, 45%, 10%);
    border-radius: 25px;
    background-color: white;
    /* größe der Card */
    width: 50%;
    height: 70%;
}

.card > * {
    /* padding */
    padding: 35px;
    /* flexbox innerhalb */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 50px;
}

h4 {
    font-size: 20px;
}

svg {
    padding-right: 10px;
}

/* RESULT */
.result {
    /* same border-radius */
    border-radius: inherit;
    /* 50% des flex containers der Card*/
    flex: 1;
    /* style */
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: white;
}

/* alle objecte centeren */
.result * {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
}

.points {
    /* background */
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    /* align items center */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* kreis */
    width: 175px;
    height: 175px;
    border-radius: 50%;
}

.result p {
    color: hsla(221, 100%, 96%, 50%);
    margin-bottom: 10px;
}

.result > p {
    /* margin between Great and paragraph */
    margin-top: -20px;
}


/* SUMMARY */
.summary {
    /* 50% des flex containers der Card */
    flex: 1;
    /* flex collumn */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.score-boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.score-box {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
    height: 25px;
}

.score-block-1 {
    /* colored Titles  */
    display: flex;
}

.score-value {
    display: flex;
    font-weight: bold;
}

.score-value-1 {
    margin-right: 5px;
    color: var(--dark-gray-blue);
}

.score-value-2 {
    color: hsla(224, 30%, 27%, 50%);
}

.reaction .score-block-1{
    color: var(--light-red);
}

.memory .score-block-1{
    color: var(--orangey-yellow);
}

.verbal .score-block-1{
    color: var(--green-teal);
}

.visual .score-block-1{
    color: var(--cobalt-blue);
}

.reaction {
    background-color: var(--light-red-t);
}

.memory {
    background-color: var(--orangey-yellow-t);
}

.verbal {
    background-color: var(--green-teal-t);
}

.visual {
    background-color: var(--cobalt-blue-t);
}



.button {
    /* style */
    
    height: 50px;
    border-radius: 500px;
    color: white;
    background-color: var(--dark-gray-blue);

    /* postioning */
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    cursor: pointer;
}

/* @media screen and (max-width: 600px) {
    .score-box {
      flex-direction: column;
    }
  
    .result,
    .summary {
      width: 100%; 
    }
    .main {
        padding: 0;
    }

    .card {
        padding: 0;
        border-radius: 0;
    }
    .result {
        border-radius: 0 0 25px 25px;
    }

    .result *{
        margin-top: 0;
    }
} */

@media screen and (max-width: 1225px) {
    #main {
        padding: 0;
    }

    .card {
        width: 100%;
        height: 100vh;
        border-radius: 0;
        flex-direction: column;
    }

    .result {
        padding: 10px 10px;
        border-radius: 0 0 25px 25px;        
    }

    .button {
        margin-top: 10px;
    }
}